/* Start variables */
:root {
  --main-color: rgb(17, 17, 69);
  --secondry-color: rgb(222, 31, 38);
  --text-color: rgb(155, 155, 155);
  --transition-duration: 0.3s;
}

/* End variables */
/* Start globel roles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.3;
	letter-spacing: 1px;
}

ul {
  list-style: none;
}

section {
  min-height: 100vh;
	padding-bottom: 5vh;
	padding-top: 5vh;
}

/* End globel roles */
/* Start componnents */
.container {
  padding-right: 3vw;
  padding-left: 3vw;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.title {
  text-align: center;
  position: relative;
  margin-bottom: 7vh;
  font-size: 2rem;
}

.title:after {
  content: '';
  position: absolute;
  top: 120%;
  height: 2px;
  background: var(--secondry-color);
  left: 25%;
  width: 50%;
  margin: auto;
}

.title:before {
  content: '';
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: calc(120% - 6px);
  left: calc(50% - 6px);
  border: 2px solid var(--secondry-color);
}

p.line {
  position: relative;
  padding-left: 10px;
  font-size: 1.5rem;
	vertical-align: middle;
}

p.line:before {
  content: '';
  width: 5px;
  height: 105%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--secondry-color);
}

.toggle-icon {
  width: 40px;
  height: 30px;
  position: relative;  
}

.toggle-icon spam {
  background: var(--text-color);
  width: 100%;
  height: 5px;
  position: absolute;  
  transition: all var(--transition-duration) ease;

}

.toggle-icon spam:first-child {
  top: 0;
}

.toggle-icon spam:nth-child(2) {
  top: 12.5px;
}

.toggle-icon spam:last-child {
  top: 25px;
}

.toggle-icon.open spam:first-child {
  top: 12.5px;
  transform: rotate(45deg);
}

.toggle-icon.open spam:nth-child(2) {
  opacity: 0;
}

.toggle-icon.open spam:last-child {
  top: 12.5px;
  transform: rotate(-45deg);
}

/* End componnents */
/* Start header */
header {
  background: var(--main-color);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

/* @media (max-width: 992px) {
	header .container {
		flex-direction: column;
		padding-top: 2vh;
		padding-bottom: 2vh;
	}
} */

header .brand {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}

header .brand img {
  width: 4rem;
  height: 4rem;
}

header nav {
  width: 90%;
}

/* @media (max-width: 992px) {
	header nav {
		width: 100%;
		margin-top: 1vh;
	}
} */

@media (min-width: 993px) {
	header nav .container {
		width: 100%;
		padding: 0;
	}
}

header nav ul {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

header nav ul li:hover a {
  color: var(--secondry-color);
}

header nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

header .toggle-icon {
  display: none;
}

@media (max-width: 992px) {
  header .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  header nav {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background: var(--main-color);
    padding-right: 2vw;
    padding-left: 2vw;
		width: 100%;
  }

	header nav .container {
		display: block;
	}

  header nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  header nav ul li {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 100%;
    position: relative;
  }

  header nav ul li:not(:last-child)::after {
    content: '';
    height: 1px;
    width: 100%;
    background: var(--text-color);
    position: absolute;
    top: calc(100% + 2vh);
    left: 0;
  }

  header .toggle-icon {
    display: block;
  }

  header .toggle-icon:hover {
    color: var(--secondry-color);
  }
}

/* End header */
/* Start home section */
.home {
  background: grey;
  height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
	position: relative;
}

.home .overlay {
	position: absolute;
	z-index: 2;
	background: rgba(0, 0, 0, 0.8);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.home .text {
  background: rgba(222, 31, 38, 0.6);
  width: 50%;
  padding: 3vh 4vw 4vh 5vw;
  min-height: 50%;
	position: absolute;
	z-index: 2;
}

.home .text h1 {
  margin: 0;
  font-size: 3rem;
  margin-bottom: 2vh;
  color: var(--main-color);
}

.home .text p {
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .home .text {
    width: 100%;
    text-align: center;
  }
}

/* End home section */
/* Start about section */
.about .container{
	height: 100% !important;
}

.about .content {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 100%;
	justify-self: center;
	align-items: flex-start;
}

@media (max-width: 767px) {
	.about .content {
		flex-direction: column;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.about .content {
		width: 80%;
		margin: auto;
	}
}

.about .content p {
	width: 60%;
}

.about .content img {
	width: 30%;
}

@media (max-width: 767px) {
	.about .content p {
		width: 100%;
	}
	.about .content img {
		/* width: 60%;
		margin: auto;
		margin-bottom: 3vh; */
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.about .content p {
		width: 100%;
	}
	.about .content img {
		display: none;
	}
}

/* End about section */
/* Start mission & vision section */
.missionandvision {
	background: var(--main-color);
}

.missionandvision .content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	justify-self: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 992px) {
	.missionandvision .content {
		width: 80%;
		margin: auto;
	}
}

.missionandvision .content p {
	width: 48%;
}

.missionandvision .content p spam {
	color: var(--secondry-color);
	font-weight: 900;
	line-height: 2.3;
}

@media (max-width: 767px) {
	.missionandvision .content p {
		width: 100%;
	}
	.missionandvision .content p:not(:last-child) {
		margin-bottom: 4vh;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.missionandvision .content p {
		width: 100%;
		margin-bottom: 10vh;
	}
}

/* End mission & vision section */
